<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <div
      class="bg-gray-100 rounded-md h-[97vh] w-full flex flex-col items-center justify-center p-4"
    >
      <div
        class="bg-sky-100 p-4 rounded-md shadow-lg w-full sm:w-1/2 md:w-2/3 lg:w-1/4 flex flex-col gap-4 items-center"
      >
        <img
          src="/assets/images/invezza-logo.png"
          class="w-2/3 mb-4"
          alt="Invezza Logo"
        />
        <% if (typeof error !== 'undefined') { %>
        <h3 class="text-red-600 bg-red-200 p-2 rounded-md w-full">
          <%= error %>
        </h3>
        <% } %>

        <form
          action="resetpassword?token=<%= resetData.token %>"
          method="POST"
          class="flex flex-col gap-4 w-full"
        >
          <input type="hidden" name="emp_id" value="<%= resetData.emp_id %>" />

          <div class="relative w-full">
            <label>New Password</label>
            <div class="flex items-center gap-2">
              <input
                class="w-full p-1 rounded-md mt-2"
                type="password"
                name="password"
                id="password"
                required
              />
              <span
                class="cursor-pointer text-gray-500 bg-white p-1 mt-2 rounded-md"
                onclick="togglePasswordVisibility('password', this)"
                >Show</span
              >
            </div>
          </div>

          <div class="relative w-full">
            <label>Confirm New Password</label>
            <div class="flex items-center gap-2">
              <input
                class="w-full p-1 rounded-md mt-2"
                type="password"
                name="confirmpassword"
                id="confirmpassword"
                required
              />
              <span
                class="cursor-pointer text-gray-500 bg-white p-1 mt-2 rounded-md"
                onclick="togglePasswordVisibility('confirmpassword', this)"
                >Show</span
              >
            </div>
          </div>

          <input
            type="submit"
            value="Reset Password"
            class="bg-blue-500 py-2 rounded-md text-white font-bold cursor-pointer hover:bg-sky-700 duration-500"
          />
        </form>
      </div>
    </div>

    <script>
      function togglePasswordVisibility(fieldId, button) {
        const field = document.getElementById(fieldId);
        if (field.type === "password") {
          field.type = "text";
          button.textContent = "Hide";
        } else {
          field.type = "password";
          button.textContent = "Show";
        }
      }
    </script>
  </body>
</html>
